[Unit]
Description=Gunicorn instance para o projeto web local Django Todo
After=network.target

[Service]
User=cyx
Group=www-data
WorkingDirectory=/var/www/django_todo
Environment="PATH=/var/www/django_todo/venv/bin"
Environment="PYTHONPATH=/var/www/django_todo"

ExecStart=/var/www/django_todo/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 todo.wsgi


[Install]
WantedBy=multi-user.target
